{
	auto_https off
}

http://localhost:3000 {
	log {
		output stderr
	}
	handle_path /data/* {
		root * data
		header Cache-Control "no-cache"
		file_server
	}
	handle {
		root * public
		header Cache-Control "no-cache"
		file_server
	}
}
