{
	auto_https off
}

:3000 {
	log {
		output stderr
	}
	handle /data/* {
		root * data
		uri strip_prefix /data
		header Cache-Control "no-cache"
		file_server
	}
	handle {
		root * public
		header Cache-Control "no-cache"
		file_server
	}
}
